@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary colors */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  /* neutral colors */
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

html {
  font-family: 'Manrope', sans-serif;
  background-color: var(--dark-blue);
}

body {
  height: 100vh;
  width: 100vw;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 300px;
  max-width: 450px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: var(--dark-grayish-blue);
}

.card #advice-id {
  padding-bottom: 25px;
  font-size: 2vh;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--neon-green);
}

.card #advice-text {
  padding-bottom: 75px;
  font-size: 3vh;
  font-weight: bold;
  color: var(--light-cyan);
}

.card #pattern-divider {
  position: absolute;
  bottom: 10vh;
  height: auto;
  width: 80%;
}

button {
  height: 50px;
  width: 50px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--neon-green);
  position: absolute;
  bottom: -25px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

button:hover {
  height: 44px;
  width: 44px;
  bottom: -22px;
  box-shadow: 0px 0px 10px 10px rgba(82, 255, 168, 0.3);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(82, 255, 168, 0.3);
  -moz-box-shadow: 0px 0px 10px 10px rgba(82, 255, 168, 0.3);
}

button #dice {
  height: 38%;
}

.attribution {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  font-size: 14px;
  letter-spacing: 1px;
  transform: translate(-50%);
  color: var(--light-cyan);
}

.attribution a {
  font-size: 13px;
  color: var(--neon-green);
}

@media only screen and (max-width: 768px) {
  .card {
    padding: 25px;
    border-radius: 8px;
    min-height: 150px;
    min-width: 250px;
  }

  .card #advice-id {
    padding-bottom: 25px;
    font-size: 1.5vh;
    letter-spacing: 2px;
  }

  .card #advice-text {
    padding-bottom: 45px;
    font-size: 1.75vh;
  }

  .card #pattern-divider {
    bottom: 4vh;
  }

  button {
    height: 30px;
    width: 30px;
    bottom: -15px;
  }

  button #dice {
    height: 38%;
  }

  .attribution {
    bottom: 15vh;
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 18px;
  }

  .attribution a {
    font-size: 11px;
  }
}